.page{
    box-sizing:border-box;
    background-color:#3CDBC0;
    margin:0;
    position:relative;
    font-family: 'Rubik', sans-serif;
    list-style:none;
    text-decoration:none;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.page__header{
    margin:0;
    background-color:white;
    position:fixed;
    top:0;
    width:100%;
    height:100px;
    display:flex;
    flex-direction:column;
    
}
.header__logo-container{
    margin:auto;
    background-color:green;
    margin:0;
    width:155px;

}
.header-logo{
    
    
    
}
.header__nav{
    margin:0;

}
.header__nav-container{
    background-color:white;
    margin:0;
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.header__nav-item{
    padding:10px;
    margin:0;
}
.nav-link{
    text-decoration:none;
    color:#4a4a4a;
}
.page__main{
    
    height:100vh;

}
.page__main-containter{
    margin:0;
    
    height:100vh;
    margin:auto;
    text-align:center;
    position:relative;

}
.page__main-title{
    color:white;
    text-decoration:none;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
   
}
.logopic{
    width:100%;
}
.header-logo{
    width:100%
}
@media all and (min-width:768px){
    .page{

    }
    .page__header{
    
    }
    .header__logo-container{
    
    }
    .header__logo{
    
    }
    .header__nav{
    
    }
    .header__nav-container{
    
    }
    .header__nav-item{
    
    }
    .page__main{
    
    }
    .page__main-title{
        
    }

}